:root {
    --background-gradient: linear-gradient(#1f181b, #3D2F36);
    --background-color: #1f181b;
    --main-color: #DEBFB0;
    --secondary-color: #5d5a5a;

    --fs-xl: clamp(2.5rem, 7vw + 1rem, 4rem);
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
}
@media (min-width: 768px) {
    :root {
        --fs-600: 1.75rem;
        --fs-500: 1.5rem;
        --fs-400: 1.25rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    color: white;
    background: var(--background-gradient);
    font-family: sans-serif;
}

h1 span, h2 span {
    color: var(--main-color);
}
h1 {
    font-size: var(--fs-xl);
    font-weight: bold;
}
h2 {
    font-size: var(--fs-600);
    font-weight: 600;
    text-transform: uppercase;
}
p, a {
    font-size: var(--fs-400);
    font-weight: 400;
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    margin: auto;
    width: 55%;
}

section {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    min-height: 101vh;
}
.hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
}
.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
    .hidden {
        transition: all 1s;
    }
    .to-top, .to-top.active {
        transition: all .4s;
    }
}

.btn {
    margin: auto;
    width: 30px;
    height: 30px;
}
.btn i {
    color: var(--main-color);
    padding: 10px;
    border-radius: 50%;
    transition: all .3s;
}
.btn:hover i {
    background: rgb(218, 218, 218);
    color: var(--background-color);
    transition: all .5s;
}

.action-btn {
    margin: auto;
    padding: 15px 0;
    border-radius: 10px;
    width: 5rem;
    border: 3px solid white;
    background-color: var(--main-color);
    transition: all .3s;
}
.action-btn:hover {
    background-color: #c2a190;
    border-color: var(--main-color);
    color: var(--background-color);
    transition: all .5s;
}

.experience-list {
    margin-left: 25px;
}
.experience-list li {
    margin: 0 0 15px 0;
}
.experience-list li p a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.container div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80vw;
}
.container div h2 {
    margin: 50px 0 10px 0;
}

#projectsTitle {
    margin-bottom: 20px;
}

.video-container {
    position: relative;
}
.video-container #desktop {
    border-radius: 12px;
}
.video-container #desktop video {
    border-radius: 12px;
    max-width: 40vw;
}

@media (min-width: 1280px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
    }
    .container div {
        max-width: 30vw;
    }
}

.video-container #mobile {
    display: none;
    height: 50vh;
    max-width: 85vw;
}
.video-container #mobile video {
    border-radius: 12px;
    height: 50vh;
    max-width: 85vw;
}

@media (max-width: 998px) {
    .video-container #desktop {
        display: none;
    }
    .video-container #mobile {
        display: block;
    }
}

.video-container .video-description {
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 5px;
    right: 0;
    background-color: rgba(0,0,0,.5);
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
}
#desktop:hover .video-description {
    display: flex;
    animation: fade-in .5s forwards;
}

.video-description span {
    margin: 10px 0;
}

.to-top {
    background: white;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-500);
    color: var(--background-color);
    opacity: 0;
    transition: all .4s;
}
.to-top i {color: var(--main-color);}
.to-top.active {
    display: flex;
    animation: fade-in .5s forwards;
}
.to-top.active:hover {
    background: rgb(218, 218, 218);
    transition: all .3s;
}
.to-top.active:hover i {
    transform: translateY(-5%);
    color: var(--background-color);
    transition: all .3s;
}
@keyframes fade-in {
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .to-top {
        bottom: 16px;
        right: 16px;
        width: 30px;
        height: 30px;
    }
}

.contact {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contact a > i {
    font-size: var(--fs-xl);
}
.contact a > i:hover {
    color: var(--main-color);
}